@font-face {
  font-family: 'MSD-Icons';
  src:  url('fonts/MSD-Icons.eot?au3p43');
  src:  url('fonts/MSD-Icons.eot?au3p43#iefix') format('embedded-opentype'),
    url('fonts/MSD-Icons.ttf?au3p43') format('truetype'),
    url('fonts/MSD-Icons.woff?au3p43') format('woff'),
    url('fonts/MSD-Icons.svg?au3p43#MSD-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MSD-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bc_light_money .path1:before {
  content: "\eb68";
  color: rgb(58, 64, 71);
}
.icon-bc_light_money .path2:before {
  content: "\eb9f";
  margin-left: -1em;
  color: rgb(58, 64, 71);
}
.icon-bc_light_money .path3:before {
  content: "\eba0";
  margin-left: -1em;
  color: rgb(58, 64, 71);
}
.icon-bc_light_money .path4:before {
  content: "\eba1";
  margin-left: -1em;
  color: rgb(225, 120, 28);
}
.icon-bc_light_money .path5:before {
  content: "\eba2";
  margin-left: -1em;
  color: rgb(225, 120, 28);
}
.icon-bc_certificate .path1:before {
  content: "\eae2";
  color: rgb(253, 121, 35);
}
.icon-bc_certificate .path2:before {
  content: "\eae3";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_certificate .path3:before {
  content: "\eae4";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_certificate .path4:before {
  content: "\eae5";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_certificate .path5:before {
  content: "\eae6";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_certificate .path6:before {
  content: "\eae7";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_certificate .path7:before {
  content: "\eae8";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path1:before {
  content: "\eae9";
  color: rgb(253, 121, 35);
}
.icon-bc_file_search .path2:before {
  content: "\eaea";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path3:before {
  content: "\eaeb";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path4:before {
  content: "\eaec";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path5:before {
  content: "\eaed";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path6:before {
  content: "\eaee";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path7:before {
  content: "\eaef";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path8:before {
  content: "\eaf0";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_search .path9:before {
  content: "\eaf1";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_chart .path1:before {
  content: "\eaf2";
  color: rgb(52, 62, 70);
}
.icon-bc_file_chart .path2:before {
  content: "\eaf3";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_chart .path3:before {
  content: "\eaf4";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_chart .path4:before {
  content: "\eaf5";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_chart .path5:before {
  content: "\eaf6";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_chart .path6:before {
  content: "\eaf7";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_chart .path7:before {
  content: "\eaf8";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_house .path1:before {
  content: "\eaf9";
  color: rgb(52, 62, 70);
}
.icon-bc_house .path2:before {
  content: "\eafa";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_house .path3:before {
  content: "\eafb";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_house .path4:before {
  content: "\eafc";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_plant_leaf .path1:before {
  content: "\eafd";
  color: rgb(253, 121, 35);
}
.icon-bc_plant_leaf .path2:before {
  content: "\eafe";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_plant_leaf .path3:before {
  content: "\eaff";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_plant_leaf .path4:before {
  content: "\eb00";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_plant_leaf .path5:before {
  content: "\eb01";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_plant_leaf .path6:before {
  content: "\eb02";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_plant_leaf .path7:before {
  content: "\eb03";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_plant_leaf .path8:before {
  content: "\eb04";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_shield_padlock .path1:before {
  content: "\eb05";
  color: rgb(52, 62, 70);
}
.icon-bc_shield_padlock .path2:before {
  content: "\eb06";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_shield_padlock .path3:before {
  content: "\eb07";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_shield_padlock .path4:before {
  content: "\eb08";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_shield_padlock .path5:before {
  content: "\eb09";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_shield_padlock .path6:before {
  content: "\eb0a";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_shield_padlock .path7:before {
  content: "\eb0b";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_card_alert .path1:before {
  content: "\eb0c";
  color: rgb(255, 121, 0);
}
.icon-bc_card_alert .path2:before {
  content: "\eb0d";
  margin-left: -1.0419921875em;
  color: rgb(255, 121, 0);
}
.icon-bc_card_alert .path3:before {
  content: "\eb0e";
  margin-left: -1.0419921875em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_alert .path4:before {
  content: "\eb0f";
  margin-left: -1.0419921875em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_alert .path5:before {
  content: "\eb10";
  margin-left: -1.0419921875em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_alert .path6:before {
  content: "\eb11";
  margin-left: -1.0419921875em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_alert .path7:before {
  content: "\eb12";
  margin-left: -1.0419921875em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_hand .path1:before {
  content: "\eb13";
  color: rgb(255, 121, 0);
}
.icon-bc_card_hand .path2:before {
  content: "\eb14";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_hand .path3:before {
  content: "\eb15";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_hand .path4:before {
  content: "\eb16";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_hand .path5:before {
  content: "\eb17";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_hand .path6:before {
  content: "\eb18";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_book_check .path1:before {
  content: "\eb19";
  color: rgb(253, 121, 35);
}
.icon-bc_book_check .path2:before {
  content: "\eb1a";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_book_check .path3:before {
  content: "\eb1b";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_book_check .path4:before {
  content: "\eb1c";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_book_check .path5:before {
  content: "\eb1d";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_bag_money_fat .path1:before {
  content: "\eb1e";
  color: rgb(255, 121, 0);
}
.icon-bc_bag_money_fat .path2:before {
  content: "\eb1f";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_bag_money_fat .path3:before {
  content: "\eb20";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_bag_money_fat .path4:before {
  content: "\eb21";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_bag_money_fat .path5:before {
  content: "\eb22";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_bag_money_fat .path6:before {
  content: "\eb23";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_bag_money_fat .path7:before {
  content: "\eb24";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_bag_money_fat .path8:before {
  content: "\eb25";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_plane .path1:before {
  content: "\eb26";
  color: rgb(253, 121, 35);
}
.icon-bc_plane .path2:before {
  content: "\eb27";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_plane .path3:before {
  content: "\eb28";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_bag_money_thin .path1:before {
  content: "\eb29";
  color: rgb(253, 121, 35);
}
.icon-bc_bag_money_thin .path2:before {
  content: "\eb2a";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_balance .path1:before {
  content: "\eb2b";
  color: rgb(52, 62, 70);
}
.icon-bc_balance .path2:before {
  content: "\eb2c";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_bank .path1:before {
  content: "\eb2d";
  color: rgb(253, 121, 35);
}
.icon-bc_bank .path2:before {
  content: "\eb2e";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_base_money .path1:before {
  content: "\eb2f";
  color: rgb(253, 121, 35);
}
.icon-bc_base_money .path2:before {
  content: "\eb30";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_book_open .path1:before {
  content: "\eb31";
  color: rgb(255, 121, 0);
}
.icon-bc_book_open .path2:before {
  content: "\eb32";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_book .path1:before {
  content: "\eb33";
  color: rgb(253, 121, 35);
}
.icon-bc_book .path2:before {
  content: "\eb34";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_buy_bag .path1:before {
  content: "\eb35";
  color: rgb(253, 121, 35);
}
.icon-bc_buy_bag .path2:before {
  content: "\eb36";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_calculator_minus_plus .path1:before {
  content: "\eb37";
  color: rgb(253, 121, 35);
}
.icon-bc_calculator_minus_plus .path2:before {
  content: "\eb38";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_calculator_money_circle .path1:before {
  content: "\eb39";
  color: rgb(52, 62, 70);
}
.icon-bc_calculator_money_circle .path2:before {
  content: "\eb3a";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_calculator_plus_multiplier .path1:before {
  content: "\eb3b";
  color: rgb(52, 62, 70);
}
.icon-bc_calculator_plus_multiplier .path2:before {
  content: "\eb3c";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_card_plane .path1:before {
  content: "\eb3d";
  color: rgb(255, 121, 0);
}
.icon-bc_card_plane .path2:before {
  content: "\eb3e";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_card_plane .path3:before {
  content: "\eb3f";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_card_rocket .path1:before {
  content: "\eb40";
  color: rgb(255, 121, 0);
}
.icon-bc_card_rocket .path2:before {
  content: "\eb41";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_card .path1:before {
  content: "\eb42";
  color: rgb(253, 121, 35);
}
.icon-bc_card .path2:before {
  content: "\eb43";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_chart-1 .path1:before {
  content: "\eb44";
  color: rgb(253, 121, 35);
}
.icon-bc_chart-1 .path2:before {
  content: "\eb45";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_chart .path1:before {
  content: "\eb46";
  color: rgb(52, 62, 70);
}
.icon-bc_chart .path2:before {
  content: "\eb47";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_check_stamp .path1:before {
  content: "\eb48";
  color: rgb(253, 121, 35);
}
.icon-bc_check_stamp .path2:before {
  content: "\eb49";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_check .path1:before {
  content: "\eb4a";
  color: rgb(52, 62, 70);
}
.icon-bc_check .path2:before {
  content: "\eb4b";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_clock .path1:before {
  content: "\eb4c";
  color: rgb(253, 121, 35);
}
.icon-bc_clock .path2:before {
  content: "\eb4d";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_euro .path1:before {
  content: "\eb4e";
  color: rgb(52, 62, 70);
}
.icon-bc_euro .path2:before {
  content: "\eb4f";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_file_check .path1:before {
  content: "\eb50";
  color: rgb(253, 121, 35);
}
.icon-bc_file_check .path2:before {
  content: "\eb51";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_file_money_chart .path1:before {
  content: "\eb52";
  color: rgb(253, 121, 35);
}
.icon-bc_file_money_chart .path2:before {
  content: "\eb53";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_geo .path1:before {
  content: "\eb54";
  color: rgb(253, 121, 35);
}
.icon-bc_geo .path2:before {
  content: "\eb55";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_handshake .path1:before {
  content: "\eb56";
  color: rgb(253, 121, 35);
}
.icon-bc_handshake .path2:before {
  content: "\eb57";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_help_dialog .path1:before {
  content: "\eb58";
  color: rgb(52, 62, 70);
}
.icon-bc_help_dialog .path2:before {
  content: "\eb59";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_help_dialog .path3:before {
  content: "\eb5a";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_help_dialog .path4:before {
  content: "\eb5b";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_help_dialog .path5:before {
  content: "\eb5c";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_hold_money .path1:before {
  content: "\eb5d";
  color: rgb(255, 121, 0);
}
.icon-bc_hold_money .path2:before {
  content: "\eb5e";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_hold_plant .path1:before {
  content: "\eb5f";
  color: rgb(253, 121, 35);
}
.icon-bc_hold_plant .path2:before {
  content: "\eb60";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_house_sync_money .path1:before {
  content: "\eb61";
  color: rgb(253, 121, 35);
}
.icon-bc_house_sync_money .path2:before {
  content: "\eb62";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_key .path1:before {
  content: "\eb63";
  color: rgb(52, 62, 70);
}
.icon-bc_key .path2:before {
  content: "\eb64";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_key .path3:before {
  content: "\eb65";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_leaf .path1:before {
  content: "\eb66";
  color: rgb(253, 121, 35);
}
.icon-bc_leaf .path2:before {
  content: "\eb67";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_mail .path1:before {
  content: "\eb69";
  color: rgb(253, 121, 35);
}
.icon-bc_mail .path2:before {
  content: "\eb6a";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_meeting .path1:before {
  content: "\eb6b";
  color: rgb(52, 62, 70);
}
.icon-bc_meeting .path2:before {
  content: "\eb6c";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_money_pointer .path1:before {
  content: "\eb6d";
  color: rgb(253, 121, 35);
}
.icon-bc_money_pointer .path2:before {
  content: "\eb6e";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_money .path1:before {
  content: "\eb6f";
  color: rgb(52, 62, 70);
}
.icon-bc_money .path2:before {
  content: "\eb70";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_monitor .path1:before {
  content: "\eb71";
  color: rgb(253, 121, 35);
}
.icon-bc_monitor .path2:before {
  content: "\eb72";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_network_money .path1:before {
  content: "\eb73";
  color: rgb(52, 62, 70);
}
.icon-bc_network_money .path2:before {
  content: "\eb74";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_network_money .path3:before {
  content: "\eb75";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_news .path1:before {
  content: "\eb76";
  color: rgb(253, 121, 35);
}
.icon-bc_news .path2:before {
  content: "\eb77";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_padlock .path1:before {
  content: "\eb78";
  color: rgb(253, 121, 35);
}
.icon-bc_padlock .path2:before {
  content: "\eb79";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_phone .path1:before {
  content: "\eb7a";
  color: rgb(255, 121, 0);
}
.icon-bc_phone .path2:before {
  content: "\eb7b";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_pig_money1 .path1:before {
  content: "\eb7c";
  color: rgb(255, 121, 0);
}
.icon-bc_pig_money1 .path2:before {
  content: "\eb7d";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_pig_money1 .path3:before {
  content: "\eb7e";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_pig_money2 .path1:before {
  content: "\eb7f";
  color: rgb(253, 121, 35);
}
.icon-bc_pig_money2 .path2:before {
  content: "\eb80";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_profile .path1:before {
  content: "\eb81";
  color: rgb(52, 62, 70);
}
.icon-bc_profile .path2:before {
  content: "\eb82";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_receive_card .path1:before {
  content: "\eb83";
  color: rgb(253, 121, 35);
}
.icon-bc_receive_card .path2:before {
  content: "\eb84";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_receive_money .path1:before {
  content: "\eb85";
  color: rgb(52, 62, 70);
}
.icon-bc_receive_money .path2:before {
  content: "\eb86";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_refresh_money .path1:before {
  content: "\eb87";
  color: rgb(255, 121, 0);
}
.icon-bc_refresh_money .path2:before {
  content: "\eb88";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_rocket .path1:before {
  content: "\eb89";
  color: rgb(255, 121, 0);
}
.icon-bc_rocket .path2:before {
  content: "\eb8a";
  margin-left: -1em;
  color: rgb(255, 121, 0);
}
.icon-bc_rocket .path3:before {
  content: "\eb8b";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_shop .path1:before {
  content: "\eb8c";
  color: rgb(253, 121, 35);
}
.icon-bc_shop .path2:before {
  content: "\eb8d";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_smartphone .path1:before {
  content: "\eb8e";
  color: rgb(253, 121, 35);
}
.icon-bc_smartphone .path2:before {
  content: "\eb8f";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_tablet .path1:before {
  content: "\eb90";
  color: rgb(253, 121, 35);
}
.icon-bc_tablet .path2:before {
  content: "\eb91";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_tef_money .path1:before {
  content: "\eb92";
  color: rgb(255, 121, 0);
}
.icon-bc_tef_money .path2:before {
  content: "\eb93";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_two_cards .path1:before {
  content: "\eb94";
  color: rgb(253, 121, 35);
}
.icon-bc_two_cards .path2:before {
  content: "\eb95";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_two_cards .path3:before {
  content: "\eb96";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_two_money .path1:before {
  content: "\eb97";
  color: rgb(52, 62, 70);
}
.icon-bc_two_money .path2:before {
  content: "\eb98";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-bc_two_person .path1:before {
  content: "\eb99";
  color: rgb(253, 121, 35);
}
.icon-bc_two_person .path2:before {
  content: "\eb9a";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_umbrella .path1:before {
  content: "\eb9b";
  color: rgb(255, 121, 0);
}
.icon-bc_umbrella .path2:before {
  content: "\eb9c";
  margin-left: -1em;
  color: rgb(52, 62, 70);
}
.icon-bc_wait_dialog .path1:before {
  content: "\eb9d";
  color: rgb(52, 62, 70);
}
.icon-bc_wait_dialog .path2:before {
  content: "\eb9e";
  margin-left: -1em;
  color: rgb(253, 121, 35);
}
.icon-buy_cart:before {
  content: "\eab1";
}
.icon-file_time:before {
  content: "\eab2";
}
.icon-file_search_text:before {
  content: "\eab3";
}
.icon-paper_plane:before {
  content: "\eab4";
}
.icon-phone_denied:before {
  content: "\eab5";
}
.icon-transfer_check:before {
  content: "\eab6";
}
.icon-volantin:before {
  content: "\eab7";
}
.icon-file_search_text1:before {
  content: "\eab8";
}
.icon-casino:before {
  content: "\eab9";
}
.icon-change_qr:before {
  content: "\eaba";
}
.icon-chart_tasas:before {
  content: "\eabb";
}
.icon-chart_uf:before {
  content: "\eabc";
}
.icon-dashboard_x4:before {
  content: "\eabd";
}
.icon-dollar_convert_peso:before {
  content: "\eabe";
}
.icon-emoticon_more:before {
  content: "\eabf";
}
.icon-face_id:before {
  content: "\eac0";
}
.icon-file_one:before {
  content: "\eac1";
}
.icon-file_service:before {
  content: "\eac2";
}
.icon-file_two:before {
  content: "\eac3";
}
.icon-filter:before {
  content: "\eac4";
}
.icon-fire:before {
  content: "\eac5";
}
.icon-folder_delete:before {
  content: "\eac6";
}
.icon-folder_plus:before {
  content: "\eac7";
}
.icon-folder:before {
  content: "\eac8";
}
.icon-form_time:before {
  content: "\eac9";
}
.icon-gas1:before {
  content: "\eaca";
}
.icon-geo_forward .path1:before {
  content: "\eacb";
  color: rgb(0, 0, 0);
}
.icon-geo_forward .path2:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-geo_forward .path3:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-hand_hold:before {
  content: "\eace";
}
.icon-heart_care:before {
  content: "\eacf";
}
.icon-info_circle:before {
  content: "\ead0";
}
.icon-lantern_off:before {
  content: "\ead1";
}
.icon-lantern_on:before {
  content: "\ead2";
}
.icon-library_download:before {
  content: "\ead3";
}
.icon-linkdepago:before {
  content: "\ead4";
}
.icon-mail_help:before {
  content: "\ead5";
}
.icon-money_time:before {
  content: "\ead6";
}
.icon-multiple_money:before {
  content: "\ead7";
}
.icon-phone_hand:before {
  content: "\ead8";
}
.icon-phone_help:before {
  content: "\ead9";
}
.icon-phone_pay:before {
  content: "\eada";
}
.icon-pig_calendar:before {
  content: "\eadb";
}
.icon-play_square:before {
  content: "\eadc";
}
.icon-pos_caja:before {
  content: "\eadd";
}
.icon-remesa_denied:before {
  content: "\eade";
}
.icon-search_form:before {
  content: "\eadf";
}
.icon-send_mail:before {
  content: "\eae0";
}
.icon-transfer_express:before {
  content: "\eae1";
}
.icon-mailbox:before {
  content: "\eaa9";
}
.icon-pendrive_1:before {
  content: "\eaaa";
}
.icon-pendrive_2:before {
  content: "\eaab";
}
.icon-woman_headphones:before {
  content: "\eaac";
}
.icon-capacitation:before {
  content: "\eaad";
}
.icon-certificate_edit:before {
  content: "\eaae";
}
.icon-certificate_settings:before {
  content: "\eaaf";
}
.icon-certificate_shield:before {
  content: "\eab0";
}
.icon-bike:before {
  content: "\eaa1";
}
.icon-fisher_tools:before {
  content: "\eaa0";
}
.icon-car_front:before {
  content: "\eaa2";
}
.icon-cargo_truck:before {
  content: "\eaa3";
}
.icon-compass1:before {
  content: "\eaa4";
}
.icon-compass2:before {
  content: "\eaa5";
}
.icon-hold_setting_money:before {
  content: "\eaa6";
}
.icon-jib_crane:before {
  content: "\eaa7";
}
.icon-shake_hands:before {
  content: "\eaa8";
}
.icon-briefcase_shield:before {
  content: "\ea94";
}
.icon-car_luggage:before {
  content: "\ea95";
}
.icon-card_shield:before {
  content: "\ea96";
}
.icon-commerce_shield:before {
  content: "\ea97";
}
.icon-family_secure:before {
  content: "\ea98";
}
.icon-hand_money_right:before {
  content: "\ea99";
}
.icon-hand_pig:before {
  content: "\ea9a";
}
.icon-house_fire:before {
  content: "\ea9b";
}
.icon-injury_arm:before {
  content: "\ea9c";
}
.icon-injury_leg:before {
  content: "\ea9d";
}
.icon-secure_cancer:before {
  content: "\ea9e";
}
.icon-shield_pig:before {
  content: "\ea9f";
}
.icon-market_bech:before {
  content: "\ea8d";
}
.icon-market_bank:before {
  content: "\ea8e";
}
.icon-liquid_money:before {
  content: "\ea8f";
}
.icon-change_money_plant:before {
  content: "\ea90";
}
.icon-hand_plant:before {
  content: "\ea91";
}
.icon-plains:before {
  content: "\ea92";
}
.icon-tractor:before {
  content: "\ea93";
}
.icon-certificate:before {
  content: "\ea89";
}
.icon-logo_soap_outline:before {
  content: "\ea8a";
}
.icon-logo_sii:before {
  content: "\ea8b";
}
.icon-logo_soap_fill:before {
  content: "\ea8c";
}
.icon-browser:before {
  content: "\ea83";
}
.icon-shield_check:before {
  content: "\ea84";
}
.icon-shield_check2:before {
  content: "\ea85";
}
.icon-devices:before {
  content: "\ea86";
}
.icon-arrow_pointer:before {
  content: "\ea87";
}
.icon-black_mode:before {
  content: "\ea88";
}
.icon-handshaking:before {
  content: "\ea7a";
}
.icon-remesa_add:before {
  content: "\ea7b";
}
.icon-heart_money:before {
  content: "\ea7c";
}
.icon-climb_car:before {
  content: "\ea7d";
}
.icon-card_pass:before {
  content: "\ea7e";
}
.icon-cedula_back:before {
  content: "\ea81";
}
.icon-bus_qr:before {
  content: "\ea79";
}
.icon-identity_ok:before {
  content: "\ea7f";
}
.icon-keyboard_hand:before {
  content: "\ea80";
}
.icon-biller_add:before {
  content: "\ea82";
}
.icon-file_pdf:before {
  content: "\ea68";
}
.icon-apartment:before {
  content: "\ea69";
}
.icon-bed_hospital:before {
  content: "\ea6a";
}
.icon-big_house:before {
  content: "\ea6b";
}
.icon-car:before {
  content: "\ea6c";
}
.icon-family:before {
  content: "\ea6d";
}
.icon-fish:before {
  content: "\ea6e";
}
.icon-flames:before {
  content: "\ea6f";
}
.icon-hospital:before {
  content: "\ea70";
}
.icon-house:before {
  content: "\ea71";
}
.icon-kids:before {
  content: "\ea72";
}
.icon-meeting:before {
  content: "\ea73";
}
.icon-motocycle:before {
  content: "\ea74";
}
.icon-not_work:before {
  content: "\ea75";
}
.icon-nurse:before {
  content: "\ea76";
}
.icon-pickup_truck:before {
  content: "\ea77";
}
.icon-pushcart:before {
  content: "\ea78";
}
.icon-seat_cinema:before {
  content: "\ea67";
}
.icon-divisa1:before {
  content: "\ea63";
}
.icon-divisa2:before {
  content: "\ea64";
}
.icon-hand_wallet:before {
  content: "\ea65";
}
.icon-person_business:before {
  content: "\ea66";
}
.icon-region_metropolitana:before {
  content: "\ea58";
}
.icon-region_norte:before {
  content: "\ea59";
}
.icon-region_sur:before {
  content: "\ea5a";
}
.icon-be_express:before {
  content: "\ea5b";
}
.icon-bech_iso_denied:before {
  content: "\ea5c";
}
.icon-bech_iso:before {
  content: "\ea5d";
}
.icon-person_builder:before {
  content: "\ea5e";
}
.icon-person_chef:before {
  content: "\ea5f";
}
.icon-person_doctor:before {
  content: "\ea60";
}
.icon-person_huaso:before {
  content: "\ea61";
}
.icon-person_teacher:before {
  content: "\ea62";
}
.icon-add_user:before {
  content: "\e900";
}
.icon-at_symbol:before {
  content: "\e901";
}
.icon-comunidad:before {
  content: "\e902";
}
.icon-contacts:before {
  content: "\e903";
}
.icon-dislike:before {
  content: "\e904";
}
.icon-emoticons_angry:before {
  content: "\e905";
}
.icon-emoticons_astonished:before {
  content: "\e906";
}
.icon-emoticons_happy:before {
  content: "\e907";
}
.icon-emoticons_neutral:before {
  content: "\e908";
}
.icon-emoticons_sad:before {
  content: "\e909";
}
.icon-emoticons_shame:before {
  content: "\e90a";
}
.icon-emoticons_sleepy:before {
  content: "\e90b";
}
.icon-emoticons_smile_more:before {
  content: "\e90c";
}
.icon-emoticons_smile:before {
  content: "\e90d";
}
.icon-emoticons_very_sad:before {
  content: "\e90e";
}
.icon-emoticons_very_satisfied:before {
  content: "\e90f";
}
.icon-hand_bye:before {
  content: "\e910";
}
.icon-hand_open:before {
  content: "\e911";
}
.icon-heart:before {
  content: "\e912";
}
.icon-hello_hand:before {
  content: "\e913";
}
.icon-like:before {
  content: "\e914";
}
.icon-person:before {
  content: "\e915";
}
.icon-tag:before {
  content: "\e916";
}
.icon-two_user:before {
  content: "\e917";
}
.icon-user:before {
  content: "\e918";
}
.icon-card_lock:before {
  content: "\e919";
}
.icon-cash_security:before {
  content: "\e91a";
}
.icon-change_key:before {
  content: "\e91b";
}
.icon-first_aids_kit:before {
  content: "\e91c";
}
.icon-heal_security:before {
  content: "\e91d";
}
.icon-internet_key:before {
  content: "\e91e";
}
.icon-keys:before {
  content: "\e91f";
}
.icon-notebook_lock:before {
  content: "\e920";
}
.icon-padlock_close:before {
  content: "\e921";
}
.icon-padlock_open:before {
  content: "\e922";
}
.icon-password:before {
  content: "\e923";
}
.icon-pc_lock:before {
  content: "\e924";
}
.icon-phone_lock:before {
  content: "\e925";
}
.icon-secure_life:before {
  content: "\e926";
}
.icon-shield_lock:before {
  content: "\e927";
}
.icon-shield:before {
  content: "\e928";
}
.icon-token:before {
  content: "\e929";
}
.icon-unlock_key:before {
  content: "\e92a";
}
.icon-arrow_abono:before {
  content: "\e92b";
}
.icon-arrow_back_ios:before {
  content: "\e92c";
}
.icon-arrow_cargo:before {
  content: "\e92d";
}
.icon-arrow_down_circle:before {
  content: "\e92e";
}
.icon-arrow_down_ios:before {
  content: "\e92f";
}
.icon-arrow_down:before {
  content: "\e930";
}
.icon-arrow_left_circle:before {
  content: "\e931";
}
.icon-arrow_left:before {
  content: "\e932";
}
.icon-arrow_leftright:before {
  content: "\e933";
}
.icon-arrow_next_ios:before {
  content: "\e934";
}
.icon-arrow_right_circle:before {
  content: "\e935";
}
.icon-arrow_right:before {
  content: "\e936";
}
.icon-arrow_up_circle:before {
  content: "\e937";
}
.icon-arrow_up_ios:before {
  content: "\e938";
}
.icon-arrow_up:before {
  content: "\e939";
}
.icon-arrow_updown:before {
  content: "\e93a";
}
.icon-back_app:before {
  content: "\e93b";
}
.icon-check:before {
  content: "\e93c";
}
.icon-chevron_down:before {
  content: "\e93d";
}
.icon-chevron_left:before {
  content: "\e93e";
}
.icon-chevron_right:before {
  content: "\e93f";
}
.icon-chevron_up:before {
  content: "\e940";
}
.icon-close:before {
  content: "\e941";
}
.icon-dashboard:before {
  content: "\e942";
}
.icon-format_list:before {
  content: "\e943";
}
.icon-hipotecary:before {
  content: "\e944";
}
.icon-home_footer:before {
  content: "\e945";
}
.icon-list_bullet:before {
  content: "\e946";
}
.icon-menu:before {
  content: "\e947";
}
.icon-more_horiz:before {
  content: "\e948";
}
.icon-more_vert:before {
  content: "\e949";
}
.icon-pago_rut_qr:before {
  content: "\e94a";
}
.icon-pagorut_footer:before {
  content: "\e94b";
}
.icon-plus:before {
  content: "\e94c";
}
.icon-prod_servicios_footer:before {
  content: "\e94d";
}
.icon-product_footer_active:before {
  content: "\e94e";
}
.icon-sync:before {
  content: "\e94f";
}
.icon-antena:before {
  content: "\e950";
}
.icon-automovil:before {
  content: "\e951";
}
.icon-autopista:before {
  content: "\e952";
}
.icon-bag_buy:before {
  content: "\e953";
}
.icon-bag_travel:before {
  content: "\e954";
}
.icon-balance:before {
  content: "\e955";
}
.icon-book_open:before {
  content: "\e956";
}
.icon-brain:before {
  content: "\e957";
}
.icon-briefcase:before {
  content: "\e958";
}
.icon-build:before {
  content: "\e959";
}
.icon-bus:before {
  content: "\e95a";
}
.icon-cloud_rain:before {
  content: "\e95b";
}
.icon-cocktail:before {
  content: "\e95c";
}
.icon-comercial:before {
  content: "\e95d";
}
.icon-crown:before {
  content: "\e95e";
}
.icon-delivery_truck:before {
  content: "\e95f";
}
.icon-dinner:before {
  content: "\e960";
}
.icon-distribution:before {
  content: "\e961";
}
.icon-domain:before {
  content: "\e962";
}
.icon-faucet:before {
  content: "\e963";
}
.icon-flower:before {
  content: "\e964";
}
.icon-funeral:before {
  content: "\e965";
}
.icon-gas_flames:before {
  content: "\e966";
}
.icon-gas:before {
  content: "\e967";
}
.icon-gasoline_station:before {
  content: "\e968";
}
.icon-gift_box:before {
  content: "\e969";
}
.icon-glass_water:before {
  content: "\e96a";
}
.icon-headphones:before {
  content: "\e96b";
}
.icon-health:before {
  content: "\e96c";
}
.icon-heart_signal:before {
  content: "\e96d";
}
.icon-light_on:before {
  content: "\e96e";
}
.icon-lightning:before {
  content: "\e96f";
}
.icon-moon:before {
  content: "\e970";
}
.icon-moto_boy:before {
  content: "\e971";
}
.icon-music_tone:before {
  content: "\e972";
}
.icon-network:before {
  content: "\e973";
}
.icon-no_traspassing_2:before {
  content: "\e974";
}
.icon-no_traspassing:before {
  content: "\e975";
}
.icon-pet:before {
  content: "\e976";
}
.icon-plane:before {
  content: "\e977";
}
.icon-planet:before {
  content: "\e978";
}
.icon-plant:before {
  content: "\e979";
}
.icon-promotora:before {
  content: "\e97a";
}
.icon-puzzle:before {
  content: "\e97b";
}
.icon-recreative:before {
  content: "\e97c";
}
.icon-rocket:before {
  content: "\e97d";
}
.icon-shirt:before {
  content: "\e97e";
}
.icon-speaker:before {
  content: "\e97f";
}
.icon-star:before {
  content: "\e980";
}
.icon-study:before {
  content: "\e981";
}
.icon-table:before {
  content: "\e982";
}
.icon-telecomunication:before {
  content: "\e983";
}
.icon-tree_cristmas:before {
  content: "\e984";
}
.icon-umbrella_rain:before {
  content: "\e985";
}
.icon-umbrella:before {
  content: "\e986";
}
.icon-water_drop:before {
  content: "\e987";
}
.icon-wine:before {
  content: "\e988";
}
.icon-agua:before {
  content: "\e989";
}
.icon-battery_charge:before {
  content: "\e98a";
}
.icon-battery_empty:before {
  content: "\e98b";
}
.icon-battery_full:before {
  content: "\e98c";
}
.icon-battery_low:before {
  content: "\e98d";
}
.icon-battery_med:before {
  content: "\e98e";
}
.icon-bluetooth:before {
  content: "\e98f";
}
.icon-brightness_high:before {
  content: "\e990";
}
.icon-brightness_low:before {
  content: "\e991";
}
.icon-chart_arrow:before {
  content: "\e992";
}
.icon-chart_bar:before {
  content: "\e993";
}
.icon-checkpoint:before {
  content: "\e994";
}
.icon-geo:before {
  content: "\e995";
}
.icon-mail_fail:before {
  content: "\e996";
}
.icon-mail_open:before {
  content: "\e997";
}
.icon-mail:before {
  content: "\e998";
}
.icon-microphone:before {
  content: "\e999";
}
.icon-mouse_cursor:before {
  content: "\e99a";
}
.icon-no_conect:before {
  content: "\e99b";
}
.icon-presentation_chart:before {
  content: "\e99c";
}
.icon-presentation_percent:before {
  content: "\e99d";
}
.icon-sand_clock:before {
  content: "\e99e";
}
.icon-volume_high:before {
  content: "\e99f";
}
.icon-volume_low:before {
  content: "\e9a0";
}
.icon-wifi_disable:before {
  content: "\e9a1";
}
.icon-wifi_signal:before {
  content: "\e9a2";
}
.icon-ahorro:before {
  content: "\e9a3";
}
.icon-atm:before {
  content: "\e9a4";
}
.icon-bag_money:before {
  content: "\e9a5";
}
.icon-bank:before {
  content: "\e9a6";
}
.icon-card_check:before {
  content: "\e9a7";
}
.icon-card_hand:before {
  content: "\e9a8";
}
.icon-card_help:before {
  content: "\e9a9";
}
.icon-card_nfc:before {
  content: "\e9aa";
}
.icon-card_settings:before {
  content: "\e9ab";
}
.icon-card_web:before {
  content: "\e9ac";
}
.icon-card:before {
  content: "\e9ad";
}
.icon-chart_money:before {
  content: "\e9ae";
}
.icon-check_money:before {
  content: "\e9af";
}
.icon-cheque:before {
  content: "\e9b0";
}
.icon-cobro_distancia:before {
  content: "\e9b1";
}
.icon-credito:before {
  content: "\e9b2";
}
.icon-dollar_convert_euro:before {
  content: "\e9b3";
}
.icon-dollar:before {
  content: "\e9b4";
}
.icon-fly_money:before {
  content: "\e9b5";
}
.icon-hand_money:before {
  content: "\e9b6";
}
.icon-hand_percent:before {
  content: "\e9b7";
}
.icon-hold_cards:before {
  content: "\e9b8";
}
.icon-light_money:before {
  content: "\e9b9";
}
.icon-money_medal:before {
  content: "\e9ba";
}
.icon-money_transfer:before {
  content: "\e9bb";
}
.icon-money:before {
  content: "\e9bc";
}
.icon-nfc:before {
  content: "\e9bd";
}
.icon-note_edit:before {
  content: "\e9be";
}
.icon-organization_chart:before {
  content: "\e9bf";
}
.icon-pac:before {
  content: "\e9c0";
}
.icon-pago_clic:before {
  content: "\e9c1";
}
.icon-pago_producto:before {
  content: "\e9c2";
}
.icon-pago_rut_in:before {
  content: "\e9c3";
}
.icon-pago_rut_out:before {
  content: "\e9c4";
}
.icon-person_money:before {
  content: "\e9c5";
}
.icon-pig_money:before {
  content: "\e9c6";
}
.icon-random_money:before {
  content: "\e9c7";
}
.icon-remesa:before {
  content: "\e9c8";
}
.icon-safe_money_fun:before {
  content: "\e9c9";
}
.icon-servicio_cobranza:before {
  content: "\e9ca";
}
.icon-symbol_dollar:before {
  content: "\e9cb";
}
.icon-tarjeta_coordenadas:before {
  content: "\e9cc";
}
.icon-tef_desde:before {
  content: "\e9cd";
}
.icon-tef_entre_cuentas:before {
  content: "\e9ce";
}
.icon-tef_footer:before {
  content: "\e9cf";
}
.icon-tef_hacia:before {
  content: "\e9d0";
}
.icon-transfer_step_one:before {
  content: "\e9d1";
}
.icon-transfer_step_two:before {
  content: "\e9d2";
}
.icon-transfer:before {
  content: "\e9d3";
}
.icon-two_cards:before {
  content: "\e9d4";
}
.icon-vivienda_add:before {
  content: "\e9d5";
}
.icon-vivienda_money:before {
  content: "\e9d6";
}
.icon-vivienda_tef:before {
  content: "\e9d7";
}
.icon-wallet:before {
  content: "\e9d8";
}
.icon-attach_file_2:before {
  content: "\e9d9";
}
.icon-attach_file:before {
  content: "\e9da";
}
.icon-calendar:before {
  content: "\e9db";
}
.icon-camera_video:before {
  content: "\e9dc";
}
.icon-camera:before {
  content: "\e9dd";
}
.icon-change:before {
  content: "\e9de";
}
.icon-copy_file:before {
  content: "\e9df";
}
.icon-download_cloud:before {
  content: "\e9e0";
}
.icon-download:before {
  content: "\e9e1";
}
.icon-edit:before {
  content: "\e9e2";
}
.icon-enter_section:before {
  content: "\e9e3";
}
.icon-exit:before {
  content: "\e9e4";
}
.icon-eye_close:before {
  content: "\e9e5";
}
.icon-eye_open:before {
  content: "\e9e6";
}
.icon-fix:before {
  content: "\e9e7";
}
.icon-identity:before {
  content: "\e9e8";
}
.icon-image:before {
  content: "\e9e9";
}
.icon-interact:before {
  content: "\e9ea";
}
.icon-layers:before {
  content: "\e9eb";
}
.icon-pago_rut:before {
  content: "\e9ec";
}
.icon-pin:before {
  content: "\e9ed";
}
.icon-plug_double:before {
  content: "\e9ee";
}
.icon-plug_triple:before {
  content: "\e9ef";
}
.icon-power_on:before {
  content: "\e9f0";
}
.icon-product_footer:before {
  content: "\e9f1";
}
.icon-qr_cobro:before {
  content: "\e9f2";
}
.icon-qr_pago:before {
  content: "\e9f3";
}
.icon-refresh_time:before {
  content: "\e9f4";
}
.icon-refresh:before {
  content: "\e9f5";
}
.icon-search:before {
  content: "\e9f6";
}
.icon-settings:before {
  content: "\e9f7";
}
.icon-share_arrow:before {
  content: "\e9f8";
}
.icon-share:before {
  content: "\e9f9";
}
.icon-trash:before {
  content: "\e9fa";
}
.icon-bech_file:before {
  content: "\e9fb";
}
.icon-biller:before {
  content: "\e9fc";
}
.icon-book_search:before {
  content: "\e9fd";
}
.icon-book:before {
  content: "\e9fe";
}
.icon-certificate_search:before {
  content: "\e9ff";
}
.icon-file_check:before {
  content: "\ea00";
}
.icon-file_error:before {
  content: "\ea01";
}
.icon-file_first:before {
  content: "\ea02";
}
.icon-file_search:before {
  content: "\ea03";
}
.icon-file_second:before {
  content: "\ea04";
}
.icon-file_text:before {
  content: "\ea05";
}
.icon-form_check:before {
  content: "\ea06";
}
.icon-identity_card:before {
  content: "\ea07";
}
.icon-news:before {
  content: "\ea08";
}
.icon-payroll_authorization:before {
  content: "\ea09";
}
.icon-cable:before {
  content: "\ea0a";
}
.icon-calculator:before {
  content: "\ea0b";
}
.icon-cell_hand:before {
  content: "\ea0c";
}
.icon-cell_phone:before {
  content: "\ea0d";
}
.icon-celular:before {
  content: "\ea0e";
}
.icon-computer:before {
  content: "\ea0f";
}
.icon-notebook_pass:before {
  content: "\ea10";
}
.icon-notebook_user:before {
  content: "\ea11";
}
.icon-phone_chat:before {
  content: "\ea12";
}
.icon-phone_dialog:before {
  content: "\ea13";
}
.icon-phone_user:before {
  content: "\ea14";
}
.icon-phone:before {
  content: "\ea15";
}
.icon-printer:before {
  content: "\ea16";
}
.icon-screen_star:before {
  content: "\ea17";
}
.icon-screen:before {
  content: "\ea18";
}
.icon-android_logo:before {
  content: "\ea19";
}
.icon-apple_logo:before {
  content: "\ea1a";
}
.icon-be_pass:before {
  content: "\ea1b";
}
.icon-bip:before {
  content: "\ea1c";
}
.icon-uniEA1D:before {
  content: "\ea1d";
}
.icon-icon_cajavecina:before {
  content: "\ea1e";
}
.icon-icon_seerviestado:before {
  content: "\ea1f";
}
.icon-uniEA20:before {
  content: "\ea20";
}
.icon-uniEA21:before {
  content: "\ea21";
}
.icon-uniEA22:before {
  content: "\ea22";
}
.icon-uniEA23:before {
  content: "\ea23";
}
.icon-logo_visa:before {
  content: "\ea24";
}
.icon-pago_rut_simple:before {
  content: "\ea25";
}
.icon-twitter:before {
  content: "\ea26";
}
.icon-alarm_clock:before {
  content: "\ea27";
}
.icon-alert_circle:before {
  content: "\ea28";
}
.icon-alert_dialog:before {
  content: "\ea29";
}
.icon-alert_news:before {
  content: "\ea2a";
}
.icon-alert_triangle:before {
  content: "\ea2b";
}
.icon-blocked:before {
  content: "\ea2c";
}
.icon-cancel:before {
  content: "\ea2d";
}
.icon-circle_check:before {
  content: "\ea2e";
}
.icon-dialog_sms:before {
  content: "\ea2f";
}
.icon-dialog:before {
  content: "\ea30";
}
.icon-emergencias__footer:before {
  content: "\ea31";
}
.icon-help_circle:before {
  content: "\ea32";
}
.icon-help_dialog:before {
  content: "\ea33";
}
.icon-interact_circle:before {
  content: "\ea34";
}
.icon-minus_circle:before {
  content: "\ea35";
}
.icon-notifications:before {
  content: "\ea36";
}
.icon-phone_circle:before {
  content: "\ea37";
}
.icon-plus_circle:before {
  content: "\ea38";
}
.icon-sad_dialog:before {
  content: "\ea39";
}
.icon-search_circle:before {
  content: "\ea3a";
}
.icon-smile_dialog:before {
  content: "\ea3b";
}
.icon-text_dialog:before {
  content: "\ea3c";
}
.icon-time:before {
  content: "\ea3d";
}
.icon-wait_dialog:before {
  content: "\ea3e";
}
.icon-accessibility_wheel:before {
  content: "\ea3f";
}
.icon-accessibility:before {
  content: "\ea40";
}
.icon-instagram:before {
  content: "\ea41";
}
.icon-youtube:before {
  content: "\ea42";
}
.icon-uniEA43:before {
  content: "\ea43";
}
.icon-heart_filled:before {
  content: "\ea44";
}
.icon-tag_filled:before {
  content: "\ea45";
}
.icon-thief:before {
  content: "\ea46";
}
.icon-face_mask:before {
  content: "\ea47";
}
.icon-fall_leaf:before {
  content: "\ea48";
}
.icon-fall_tree:before {
  content: "\ea49";
}
.icon-fireworks:before {
  content: "\ea4a";
}
.icon-juice_fruit:before {
  content: "\ea4b";
}
.icon-not_geo:before {
  content: "\ea4c";
}
.icon-party:before {
  content: "\ea4d";
}
.icon-santa_hat:before {
  content: "\ea4e";
}
.icon-star_filled:before {
  content: "\ea4f";
}
.icon-language:before {
  content: "\ea50";
}
.icon-eco_house:before {
  content: "\ea51";
}
.icon-eco_planet:before {
  content: "\ea52";
}
.icon-fumigator:before {
  content: "\ea53";
}
.icon-leaf_ecology:before {
  content: "\ea54";
}
.icon-moto:before {
  content: "\ea55";
}
.icon-panel_solar:before {
  content: "\ea56";
}
.icon-people_distance:before {
  content: "\ea57";
}
